---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "About Me | Nirjan's Reviews",
  description: "I'm Nirjan",
};
---

<Layout seo={seo}>
  <Container>
    <h1 class="text-black text-2xl">About Me</h1>

    <p>I'm Nirjan, I like movies.</p>
  </Container>
</Layout>
