---
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="px-4 py-3 color-neutral">
    <div class="container">
      <p>
        &copy; {currentYear} - Site by <a href="https://nirjan.dev"
          >nirjan.dev</a
        >
      </p>
    </div>
  </section>
</footer>
