---
import Navigation from "../components/Navigation.astro";
import { SkipLinks } from "accessible-astro-components";
---

<header>
  <SkipLinks />
  <Navigation>
    <!-- menu-item classes used for interactivity DO NOT CHANGE!  -->
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Reviews</button>
      <ul>
        <li class="submenu-item">
          <a href="/blog/movies">Movies</a>
        </li>
        <li class="submenu-item">
          <a href="/blog/books">Books</a>
        </li>
        <li class="submenu-item">
          <a href="/blog/music">Music</a>
        </li>
        <li class="submenu-item">
          <a href="/blog">All Posts</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/about">About Me</a>
    </li>
  </Navigation>
</header>
