---
// Component Imports
import Layout from "../../layouts/Page.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

import { getAllPosts } from "../../lib/api.js";
import Container from "../../components/Container.astro";

const seo = {
  title: "All Reviews | Nirjan's Reviews",
  description:
    "Welcome to my blog, where you can find expert reviews of the latest movies, music, and books. Whether you're a film fanatic, music lover, or bookworm, this blog has something for everyone. Check out my list of reviews and discover your next favorite movie, album, or novel today.",
};

const allPostData = await getAllPosts();
---

<Layout seo={seo}>
  <Container>
    <h1 class="text-black lg:text-9xl mb-4 lg:mb-11 mt-10">All Reviews</h1>
    <article class="blog-page-content__article">
      <section class="postlist">
        {allPostData.map((post) => <BlogPostPreview post={post} />)}
      </section>
    </article>
  </Container>
</Layout>

<style is:global>
  /* Posts list */
  .postlist {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
  }

  .postlist-item {
    display: flex;
    flex-direction: column;
  }

  .postlist-item__img {
    border-radius: 0.5rem;
    height: auto;
  }

  @media screen and (max-width: 769px) {
    .blog-page-content__article {
      padding: 1rem;
    }

    .postlist {
      grid-template-columns: 1fr;
    }
  }
</style>
