---
// Component Imports
import Layout from "../../layouts/Page.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

import { getAllMoviesPosts } from "../../lib/api.js";
import Container from "../../components/Container.astro";

const seo = {
  title: "Nirjan's Reviews | Movie Reviews",
  description:
    "Get the scoop on the latest films with my movie reviewers! My reviews are honest, in-depth, and unbiased, giving you a true sense of what to expect from each film. From blockbuster hits to indie darlings, I cover a wide range of movies to appeal to every film fan.",
};

const allPostData = await getAllMoviesPosts();
---

<Layout seo={seo}>
  <Container>
    <h1 class="text-black lg:text-9xl mb-4 lg:mb-11 mt-10">Movie Reviews</h1>

    <article class="blog-page-content__article">
      <section class="postlist">
        {allPostData.map((post) => <BlogPostPreview post={post} />)}
      </section>
    </article>
  </Container>
</Layout>

<style is:global>
  /* Posts list */
  .postlist {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    list-style: none;
    padding: 0;
  }

  .postlist-item {
    display: flex;
    flex-direction: column;
  }

  .postlist-item__img {
    border-radius: 0.5rem;
    height: auto;
  }

  @media screen and (max-width: 769px) {
    .blog-page-content__article {
      padding: 1rem;
    }

    .postlist {
      grid-template-columns: 1fr;
    }
  }
</style>
